In [69]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
"""
Hva vil du modellen skal gjøre:
Basert på tags og genres skal modellen finne hva slags filmer en bruker har 
sett på, og foreslå filmer med like tags og genres med høy rating
"""

In [88]:

genomeS = pd.read_csv("genome-scores.csv")
genomeT = pd.read_csv("genome-tags.csv")
link = pd.read_csv("links.csv")
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
tags = pd.read_csv("tags.csv")

In [90]:
print(tags.shape, genomeS.shape, genre.shape, link.shape, movies.shape, ratings.shape)
ratings

(1108997, 4) (14862528, 3) (1128, 2) (58098, 3) (58098, 3) (27753444, 4)

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

In [94]:
df = movies.merge(tags, on="movieId")
newRatings = ratings.drop(columns = "timestamp")
df.drop(columns = ["timestamp", "tag", "title"], inplace = True)
genres = []
m = movies["genres"]
for movie in m:
    for genre in movie.split("|"):
        if genre not in genres:
            genres.append(genre)
genres

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'IMAX',
 'Documentary',
 'War',
 'Musical',
 'Western',
 'Film-Noir',
 '(no genres listed)']