In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Hva vil du modellen skal gjøre:
# Basert på tags og genres skal modellen finne hva slags filmer en bruker har 
# sett på, og foreslå filmer med like tags og genres med høy rating

In [2]:

genomeS = pd.read_csv("genome-scores.csv")
genomeT = pd.read_csv("genome-tags.csv")
link = pd.read_csv("links.csv")
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
tags = pd.read_csv("tags.csv")

In [4]:
print(tags.shape, genomeS.shape, genomeT.shape, link.shape, movies.shape, ratings.shape)
movies

(1108997, 4) (14862528, 3) (1128, 2) (58098, 3) (58098, 3) (27753444, 4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama

In [13]:
genres = []
m = movies["genres"]
for movie in m:
    for genre in movie.split("|"):
        if genre not in genres:
            genres.append(genre)

for genre in genres:
    newColumn = []
    for movie in m:
        if genre in movie.split("|"):
            newColumn.append(1)
        else:
            newColumn.append(0)
    movies[genre] = newColumn

    
newMovies = movies.drop(columns = "genres")
df = tags.merge(newMovies, on="movieId")
newRatings = ratings.drop(columns = "timestamp")
df.drop(columns = ["timestamp", "tag", "title"], inplace = True)
df

,userId,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,14,110,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
1,14,110,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
2,815,110,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
3,2577,110,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
4,3086,110,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108992,282119,164453,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1108993,282119,164453,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1108994,283000,91960,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108995,283000,91960,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108996,283000,91960,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0